
body, h3, h2{
    font-family:'Orbitron', sans-serif;
    color: whitesmoke;
}
body{
    background-image: linear-gradient(180deg, black, #262829);
}   
#welcome, h2, div{
    text-align: center;
}

.navbar {
    background-image: linear-gradient(to left, #bd21bf, #80c7f2);
    font-family: 'Orbitron', sans-serif;
    padding: 1.5rem;
    font-size: larger;
    font-weight: bold;
    color: whitesmoke;
}
