.button {
    background-color: #1bf2cb;
    font-family: 'Orbitron', sans-serif;
}

.menu {
    background-image: linear-gradient(to left, #bd21bf, #80c7f2);
    font-family: 'Orbitron', sans-serif;
    padding: 1.5rem;
    font-size: larger;
    font-weight: bold;
}

.top-bar {
    background-image: linear-gradient(to right, #bd21bf, #80c7f2);
    padding: 2rem;
}

h4{
    font-family: 'Orbitron', sans-serif;
}