.button {
    background-color: #1bf2cb;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #090126;
    color: whitesmoke;
}

.navbar {
    background-image: linear-gradient(to left, #bd21bf, #80c7f2);
    font-family: 'Orbitron', sans-serif;
    padding: 1.5rem;
    font-size: larger;
    font-weight: bold;
    color: whitesmoke;
}

.top-bar {
    /* background-image: linear-gradient(to right, #bd21bf, #80c7f2); */
    background-color: #090126;
    padding: 2rem;
}

@include dropdown-container;

form.signup,
form.login {
  margin-top: 50px;
}

.login-text {
    font-family: 'orbitron', sans-serif;
}

.email-text {
    font-family: 'orbitron', sans-serif;
}

.password-text {
    font-family: 'orbitron', sans-serif;
}

.sign-up-text {
    font-family: 'orbitron', sans-serif;
}

/* .login-container {
    background-image: linear-gradient(180deg, white, #80c7f2);
} */

#review {
    background-image: linear-gradient(180deg, white, #80c7f2);
}


